<!doctype html>

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CryptoMon Profile</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="userData" style="display:none;" data-email=<%= user %>></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.52.0/phaser.min.js"></script>
<script src="/profile.js"></script>

</body>
</html>
